# Source files
src/

# Config files
tsconfig.json
.editorconfig
.eslintrc.cjs

# Development files
script/
snap/
.vscode/
.github/

# Git
.git/
.gitignore

# Node
node_modules/
pnpm-lock.yaml

# Demo
index.html

# Adapters
adapter/
!dist/core/
dist/adapter/